<appSettings>
	<add key="SMTPHost" value="smtp.gmail.com"/>
	<add key="SMTPPort" value="587"/>
	<add key="FromEmailAddress" value="nbs.dev.noreply@gmail.com"/>
	<add key="FromEmailPassword" value="123456aA@"/>
	<add key="FromName" value="SPDC"/>
	<add key="AdminEmail" value=""/>
	<add key="CurrentLink" value=""/>
	<add key="EnableBundles" value="false"/>
</appSettings>