<!DOCTYPE html>

<html>

<head>
    <title></title>
    <style type="text/css">
        html,
        body,
        p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }
        div {
            text-align: center;
        }
        span {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div>
        <p>你好，@Model.DisplayName!<br /></p>
        <div>
            <span>課程名稱 (@Model.InvoiceNo)</span>
        </div>
        <p>
            上述付款通知書快將過期，請儘快於限期前繳付有關費用。
        </p>
        <p>
            謝謝!<br /><br />
        </p>
        <p>
            建造專業進修院校(SPDC)<br />
            香港建造學院
        </p>
    </div>
</body>

</html>