<!DOCTYPE html>

<html>
<head>
    <title></title>
    <style type="text/css">
        html, body, p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }
    </style>
</head>
<body>
    <div>
        <p>Hello @Model.DisplayName,<br /></p>
        <p>
            Please click <a href="@Model.ActivationLink">here</a> to view SPDC latest news and events<br /><br />
        </p>
        <img src='cid:QRCode' width='100%' /><br /><br />
        <p>
            Thank you.<br />
            School of Professional Development in Construction (SPDC)<br />
            Hong Kong Institute of Construction (HKIC)<br />
        </p>
    </div>
</body>
</html>
