<!DOCTYPE html>

<html>
<head>
    <title></title>
    <style type="text/css">
        html, body, p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }
    </style>
</head>
<body>
    <div>
        <p>此處 @Model.DisplayName,<br /></p>
        <p>
            請點擊 <a href="@Model.ActivationLink">此處</a> 以查閱SPDC的最新消息及活動資訊。<br /><br />
        </p>
        <img src='cid:QRCode' width='100%' /><br /><br />
        <p>
            謝謝!<br /><br />
            建造專業進修院校(SPDC)<br />
            香港建造學院<br />
        </p>
    </div>
</body>
</html>
