<!DOCTYPE html>

<html>

<head>
    <title></title>
    <style type="text/css">
        html,
        body,
        p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }

        ,

        div {
            text-align: center;
        }

        ,

        span {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div>
        <p>你好，@Model.DisplayName!<br /></p>
        <div>
            @Model.CourseName
            <span>補考通知書</span>
        </div>
        <p>
            上述課程的補考通知書已經備妥，相關補考安排請參閱附件。<br /><br />
        </p>
        <p>
            謝謝!<br /><br />
        </p>
        <p>
            建造專業進修院校(SPDC)<br />
            香港建造學院
        </p>
    </div>
</body>

</html>