<!DOCTYPE html>

<html>
<head>
    <title>歡迎來到註冊建造專業進修院校電子平台</title>
    <style type="text/css">
        html, body, p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }
    </style>
</head>
<body>
    <div>
        <p>你好，@Model.DisplayName !<br /></p>
        <p>
            請點擊以下連結啟動閣下的&lt;&lt;建造專業進修院校&gt;&gt;電子平台帳戶：<br />
            @Model.ActivationLink
        </p>        
        <p>
            若無法點擊以上連結，請將網址複制並貼上至新的瀏覽器視窗中。<br />
            如有對帳戶的問題有任何查詢，請致電2100 9000與本院校職員聯絡。<br />
            感謝使用&lt;&lt;建造專業進修院校&gt;&gt;電子平台。<br />
            建造專業進修院校(SPDC)<br />
            香港建造學院<br />
            ******************************************************************<br />
            重要提示: <br />
            1. 此乃系統自動產生的電郵，請勿回覆。<br />
            2. 此電郵提示所載的是保密資料，並可被視為享有法律特權的資料。倘若閣下並非指定的收件人，則不可複製、轉發、公開或使用此信息的任何部分。若此信息被誤送到閣下的郵箱，請刪去信息及存於閣下電腦系統內的所有相關副本，並立即通知寄件者。<br />
            3. 經互聯網傳送的電郵信息，不保證準時、完全安全、不含錯誤或電腦病毒。寄件者不會承擔所引致任何錯誤或遺漏的責任。<br />
        </p>
    </div>
</body>
</html>
