<!DOCTYPE html>

<html>
<head>
    <title>Request Returned – Course Application</title>
    <style type="text/css">
        html, body, p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }
    </style>
</head>
<body>
    <div>
        <p>
            Request Returned – Course Application @Model.CourseCode<br />
            The course application has been returned by the 2nd approver.<br />
            Please click <a href="@Model.CallbackUrl">here</a> to process. <br /><br />

            SPDC Portal
        </p>
    </div>
</body>

</html>