<!DOCTYPE html>

<html>
<head>
    <title>Welcome to SPDC Portal</title>
    <style type="text/css">
        html, body, p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }
    </style>
</head>
<body>
    <div>
        <p>Hello @Model.DisplayName,<br /></p>
        <p>
            Please click the following link to activate your SPDC portal account: <br />
            @Model.ActivationLink
        </p>        
        <p>
            If clicking the link above does not work, copy and paste the URL in a new browser window instead.<br />
            For any enquiry on your account, please contact us at Tel. 2100 9000.<br />
            Thank you for using SPDC Portal.<br />
            School of Professional Development in Construction (SPDC)<br />
            Hong Kong Institute of Construction (HKIC)<br />
            ******************************************************************<br />
            Important Notes:<br />
            1. This is a system generated email. Please do not reply to this email.<br />
            2. This email is confidential. It may also be legally privileged. If you are not the addressee you may not copy, forward, disclose or use any part of it. If you have received this message in error, please delete it and all copies from your system and notify the sender immediately.<br />
            3. Internet communications cannot be guaranteed to be timely, secure, error or virus-free. The sender does not accept liability for any errors or omissions.<br />
        </p>
    </div>
</body>
</html>
