<!DOCTYPE html>

<html>
<head>
    <title>不合資格參加考試通知書 @Model.ClassCode</title>
    <style type="text/css">
        html, body, p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }
    </style>
</head>
<body>
    <div>
        <p>你好，@Model.DisplayName,<br /></p>
        <p>
            @Model.CourseName <br />
            不合資格參加考試通知書 (@Model.ClassCode)
        </p>
        <p>
            由於閣下的出席率未能達到上述課程所訂的要求，故閣下不獲准參加於 @Model.Date 舉辦的考試。詳細內容請參閱附件。<br />
            舉辦的考試。詳細內容請參閱附件。<br />
            如有查詢，請致電2100 9000 或電郵spdc@hkic.edu.hk與我們聯絡。<br />
            <br />
            謝謝!<br />

            建造專業進修院校(SPDC)<br />
            香港建造學院<br />
        </p>
    </div>
</body>
</html>
