<!DOCTYPE html>

<html>
<head>
    <title>Request for Approval – Course Application</title>
    <style type="text/css">
        html, body, p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }
    </style>
</head>
<body>
    <div>
        <p>
            Email Subject: Request for Approval – Course Application<br /><br />
            Request for Approval – Course Application @Model.CourseCode<br />
            There is a course application awaiting your approval.<br />
            Please click <a href="@Model.ActivationLink">here</a> to process.<br /><br />
            SPDC Portal
        </p>        
    </div>
</body>
</html>
