<!DOCTYPE html>

<html>

<head>
    <title></title>
    <style type="text/css">
        html,
        body,
        p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }

        div {
            text-align: center;
        }

        span {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div>
        <p>Hello，@Model.DisplayName!<br /></p>
        <div>
            @Model.CourseName<br />
            Course Handout (@Model.ClassCode)
        </div>
        <p>
            Please login your SPDC account to download the latest uploaded handout of captioned course.
        </p>
        <p>
            Thank you.<br /><br />
        </p>
        <p>
            School of Professional Development in Construction (SPDC)<br />
            Hong Kong Institute of Construction (HKIC)
        </p>
    </div>
</body>

</html>