<!DOCTYPE html>

<html>
<head>
    <title>Request Rejected (@Model.CourseCode)</title>
    <style type="text/css">
        html, body, p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }
    </style>
</head>
<body>
    <div>
        <p>
            Request Rejected (@Model.CourseCode)<br />
            Your request has been rejected by the @Model.Approver.<br />
            Please click <a href="@Model.CallbackUrl">here</a> to view details. <br /><br />

            SPDC Portal
        </p>
    </div>
</body>

</html>