<!DOCTYPE html>

<html>

<head>
    <title></title>
    <style type="text/css">
        html,
        body,
        p {
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: MingLiU;
        }

        ,

        div {
            text-align: center;
        }

        ,

        span {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div>
        <p>Hello @Model.DisplayName,<br /></p>
        <div>
            @Model.CourseName
            <span>Notification on Resit Examination Arrangement</span>
        </div>
        <p>
            Your application of resit examination of the captioned course has been confirmed. Please find related
            notification as attached for details.<br /><br />
        </p>
        <p>
            Thank you.
        </p>
        <p>
            School of Professional Development in Construction (SPDC) <br />
            Hong Kong Institute of Construction (HKIC)
        </p>
    </div>
</body>

</html>